$text-color: #0c3058;

.donations-list-wrap {
  margin-block: 50px;
  width: 50vw;
  margin-inline: auto;
  min-width: 300px;

  app-donation-card {
    margin-block: 20px;
    display: block;
    color: $text-color;
  }
}
